Source: sawtooth-zenroom-tp-go
Maintainer: Hyperledger Sawtooth <unknown@unknown>
Section: go
Priority: optional
Standards-Version: 3.9.6
Homepage: https://github.com/hyperledger/sawtooth-core
Package: sawtooth-zenroom-tp-go
Architecture: all
Depends: libssl-dev, libzmq3-dev
Description: Sawtooth Zenroom TP Go
Version: @VERSION@
